.guides {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .feedGuide {
        border: 1px solid lightblue;
        margin: 20px;
        padding-bottom: 20px;
        cursor: pointer;

        h4 {
            margin-bottom: 7px;
        }

        .feedDescription {
            margin-bottom: 20px;
        }

        .feedUsername {
            font-size: 20px;
        }
    }
}

.guide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video {
        justify-content: center;
        width: 100%;
        display: flex;
        margin: 0 auto;

    }
       
}