.navContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: fixed;
    padding: 20px 10px;
    background-color: #60A16D;
    opacity: 0.97;
    z-index: 2;

    .navBar {
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        width: 100%;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin: 20px;
    }

    .searchInput {
        padding-left: 10px;
        width: 40px;
        height: 40px;
        align-self: center;
        transition: width 0.6s linear;
        font-size: 16px;
        border-radius: 20px;

        &:focus {
            width: 100%;
            outline: none;
            border: 2px solid darkgreen;
        }
    }
    .fas {
        align-self: center;
        cursor: pointer;

        &:hover {
            color: rgb(190, 190, 190);
        }
    }

    div {
        align-self: center;
    }
}