.navContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: fixed;
    padding: 20px 10px;
    background-color: #60A16D;
    opacity: 0.97;
    z-index: 2;

    .navBar {
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin: 20px;
    }

    input {
        height: 30px;
        align-self: center;
    }
}