html {
  background-color: #60A16D;
}

.container {
  margin: 0 auto;
  display: flex;
}

.App {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  background-color: #60A16D;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
  color: white;
}
